@charset "utf-8";

@media (max-width: 1199px){
    header{ padding: 0 10px;}
    section.sub_item .wrap{ width: 100%;}
}
@media (max-width: 991px){
    section.sub_item .wrap .content .box{ 
        width: calc(100% / 3 - 20px);
    }
}
@media (max-width: 767px){
    #app{ padding-bottom: 40px;}
    header{ 

    }
    header .menu{ 
        position: absolute; top: 60px; left: 0;
        width: 100%; height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.75);
        /* z-index: 2; */
        z-index: -1;
        opacity: 0;
    }
    header .menu.active{ 
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s;
    }
    header .menu ul{ 
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .menu ul li{ margin: 2vh 0;}
    header .menu ul li a{ 
        font-size: 24px;
        font-weight: bold;
    }
    header .mypage{ 
        position: fixed; bottom: 0; left: 0;
        width: 100%;
        background-color: #000;
        justify-content: center;
        z-index: 1;
    }
    header .mypage ul{ width: 100%;}
    header .mypage ul li{ 
        width: 50%; 
        margin: 0;
    }
    header .mypage ul li a{ 
        width: 100%; height: 40px;
        background-repeat: no-repeat;
        background-size: auto 30px;
    }

    header .resBtn{ display: block;}
    section.sub_item .wrap .content .box{ 
        width: calc(50% - 20px);
    }
}
@media (max-width: 576px){
    section.sub_item .wrap .content .box{ 
        width: calc(100% - 20px);
    }
}