@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
h1, h2,h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}


body.showMenu{ overflow: hidden;}

/*공통 header*/
header{
    height: 60px; 
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;

}
header .logo{}
header .logo a{}
header .logo a img{display: block; width: 110px;}

header .menu{}
header .menu ul{display: flex;}
header .menu ul li{margin: 0 15px;}
header .menu ul li a{
    display: block;
    color:#aaa;
    font-size: 14px;
    text-transform: capitalize;
}
header .menu ul li:hover a{
    color:#fd0;
}

header .mypage{
    width: 110px;
    display: flex;
    justify-content: flex-end;
}
header .mypage ul{display: flex;}
header .mypage ul li{margin: 0 10px;}
header .mypage ul li a{
    display: block;
    width: 16px; height: 16px;
    background-size: contain;
    background-position: 50% 50%;
}
header .mypage ul li:nth-child(1) a{
    background-image: url(../img/icon_img/search_white.svg);
}
header .mypage ul li:nth-child(2) a{
    background-image: url(../img/icon_img/user_white.svg);
}
header .mypage ul li:nth-child(1):hover a{
    background-image: url(../img/icon_img/search_yellow.svg);
}
header .mypage ul li:nth-child(2):hover a{
    background-image: url(../img/icon_img/user_yellow.svg);
}


/* resBtn */
header .resBtn{ 
    position: absolute; top: 50%; right: 10px;
    width: 30px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
header .resBtn span{ 
    position: absolute; 
    width: 30px; height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.5s;
}
header .resBtn span:nth-child(1){ 
    transform: translateY(-15px);
    width: 25px;
}
header .resBtn span:nth-child(2){ 
    transform: translateY(15px);
    width: 15px;
}
header .resBtn.active span:nth-child(1){
    width: 40px;
    transform: translateY(0) rotate(45deg);
}
header .resBtn.active span:nth-child(2){
    width: 40px;
    transform: translateY(0) rotate(-45deg);
}
header .resBtn.active span:nth-child(3){
    transform: translateX(80px);
    background-color: transparent;
}



/*main page*/
#main{
    width: 100%; height: calc(100vh - 110px);
    overflow: hidden;
    position: relative;
}
#main video{
    position: absolute;
    width: 120%; height: 120%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    object-fit: fill;
}
#main .video_dark{
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#main .wrap{
    position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%;
    padding: 80px;
}
#main .wrap .main_cont{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .wrap .main_cont .content{
    display: flex;
    align-items: center;
}
#main .wrap .main_cont .content img{
    height: 75px;
    margin-right: 30px;
    animation: 2s symbolMove 1;
}
@keyframes symbolMove {
    0%{transform: translateX(-105%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 1;}
}

#main .wrap .main_cont .content h2{
    font-size: 36px; color:#fff; 
    animation: 1.5s titleMove 1;
    transition-delay: 2s;
}
@keyframes titleMove{
    0%{transform: translateX(1000%);opacity: 0;}
    100%{transform: translateX(0%);opacity: 1;}
}



/* sub page */
section.sub_item{ padding: 60px 0;}
section.sub_item .wrap{ 
    width: 1200px;
    margin: 0 auto;
}
section.sub_item .wrap h2{
    padding-bottom: 40px; 
    color: #555; font-size: 28px;
    text-align: center;
}
section.sub_item .wrap .content{ 
    display: flex; flex-wrap: wrap;
}
section.sub_item .wrap .content .box{ 
    width: calc(25% - 20px); height: 280px;
    margin: 0 10px 20px;
    overflow: hidden;
    position: relative;
}
section.sub_item .wrap .content .box .bg_img{ 
    width: 100%; height: 100%;
    /* background-color: #ffc; */
    background-size: cover; background-position: 50% 50%;
}
section.sub_item .wrap .content .box .info{ 
    position: absolute; left: 0; bottom: 0;
    width: 100%; 
    padding: 20px 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(100%);
    transition: transform 0.5s;
}
section.sub_item .wrap .content .box:hover .info{
    transform: translateY(0%);
}
section.sub_item .wrap .content .box .info h3{ 
    color: #fff; font-size: 17px;
    text-align: center;
}


/*footer 공통*/
footer{
    height: 50px;
    background-color: #333;
    color:#fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}